@import "bootstrap/scss/bootstrap";

/*carousel*/

.carousel-item {
	height: 150px;
}

.item img {
	position: absolute;
    top: 0;
    left: 0;
    min-height: 150px;
}

/*header */

.navbar {
	font-size: 1.15em;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: white;
	text-decoration: none;
	}
}
.nav-link a {
	color:white
}


.blogs {
	list-style: none;
	padding: 0;

	.user {
	padding-top: 0;
	}
	li {
	padding: 10px 0;
	border-top: 1px solid #e8e8e8;
	margin-left: 60px;
	}
	.content {
	display: block;
	}
	.timestamp {
	color: gray;
	display: block;
	}

}

.navbar-nav{
    white-space: nowrap;
  }
.navbar-nav li {
	color: white !important
}